[submodule "CodeGenerating"]
	path = CodeGenerating
	url = git://github.com/Laar/CodeGenerating.git
[submodule "opengl-api"]
	path = opengl-api
	url = git://github.com/Laar/opengl-api.git
[submodule "haskell-src-exts-qq"]
	path = haskell-src-exts-qq
	url = git://github.com/Laar/haskell-src-exts-qq.git
[submodule "OpenGLRawgenBase"]
	path = OpenGLRawgenBase
	url = git://github.com/Laar/OpenGLRawgenBase.git
